@import "ember-power-select";
@import "bootstrap";

.bg {
  background: url(/img/rotacuentos.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}
